<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://c1.scryfall.com" />

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="style.css">
    <title id="title"></title>
</head>

<body>
    <h1>
        <button onclick="deleteDeck()" type="submit">Delete Deck (Don't click if there are cards in the deck!!)</button>
        <input id="searchBar" type="text" name="searchBar">
        <button onclick="cardSearch()">Search</button>
    </h1>
    <h2 id="deckHeader">

    </h2>

    <div id="deckContainer">
        <div id="lands"></div>
        <div id="creatures"></div>
        <div id="instants"></div>
        <div id="sorceries"></div>
        <div id="artifacts"></div>
        <div id="planeswalkers"></div>
        <div id="enchantments"></div>
    </div>
    <script src="script.js"></script>
    <script>
        window.onload = function() {
            loadDeck();
        };
    </script>
</body>
</html>