<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://c1.scryfall.com" />

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css">
    <title id="title"></title>
</head>

<body>
    <h1>
        <button onclick="deleteDeck()" type="submit">Delete Deck</button>
        <input id="searchBar" type="text" name="searchBar">
        <button onclick="cardSearch()">Search</button>
    </h1>
    <h2 id="deckHeader">

    </h1>

    <div id="deckContainer">
        <div id="lands" class="typeContainer">Lands:</div>
        <div id="creatures" class="typeContainer">Creatures:</div>
        <div id="instants" class="typeContainer">Instants:</div>
        <div id="sorceries" class="typeContainer">Sorceries:</div>
        <div id="artifacts" class="typeContainer">Artifacts:</div>
        <div id="planeswalkers" class="typeContainer">Planeswalkers:</div>
        <div id="enchantments" class="typeContainer">Enchantments:</div>
    </div>
    <script src="/js/script.js"></script>
    <script>
        window.onload = function() {
            loadDeck();
        };
    </script>
</body>
</html>