<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://c1.scryfall.com" />

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css">
    <title id="title"></title>
</head>

<body>
    <div id="content"></div>
    <script src="/js/shared.js" type="module"></script>
    <script src="/js/deck.js" type="module"></script>
    <script>
        window.onload = function() {
            loadDeck();
        };
    </script>
</body>
</html>