<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://c1.scryfall.com" />

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="style.css">
    <title id="title"></title>
</head>

<body>
    <h1 id="deckHeader"></h1>

    <div id="deckContainer"></div>
    <script src="script.js"></script>
    <script>
        window.onload = function() {
            loadDeck();
        };
    </script>
</body>
</html>