<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://c1.scryfall.com" />

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="style.css">
    <title>Home</title>
</head>

<body>
    <h1>
        <input type="text" name="searchBar" id="searchBar">
        <button onclick="getCardByName()">Submit</button>
        <button onclick="createDeck()">New Deck</button>

    </h1>

    <div id="test"></div>
    <script src="script.js"></script>
</body>
</html>